/* CSS Resets */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}



@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../webfonts/gil/338D64_0_0.eot');
    src: url('../webfonts/gil/338D64_0_0.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/gil/338D64_0_0.woff2') format('woff2'),
         url('../webfonts/gil/338D64_0_0.woff') format('woff'),
         url('../webfonts/gil/338D64_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'NeusaNextStd-CondensedMedium';
    src: url('../webfonts/neu/338D64_4_0.eot');
    src: url('../webfonts/neu/338D64_4_0.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/neu/338D64_4_0.woff2') format('woff2'),
         url('../webfonts/neu/338D64_4_0.woff') format('woff'),
         url('../webfonts/neu/338D64_4_0.ttf') format('truetype');
}
@font-face {
    font-family: 'NeusaNextStd-Bold';
    src: url('../webfonts/neu/338D64_3_0.eot');
    src: url('../webfonts/neu/338D64_3_0.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/neu/338D64_3_0.woff2') format('woff2'),
         url('../webfonts/neu/338D64_3_0.woff') format('woff'),
         url('../webfonts/neu/338D64_3_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Gilroy-ExtraBold-Italic';
    src: url('../webfonts/gil/33C9CC_0_0.eot');
    src: url('../webfonts/gil/33C9CC_0_0.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/gil/33C9CC_0_0.woff2') format('woff2'),
         url('../webfonts/gil/33C9CC_0_0.woff') format('woff'),
         url('../webfonts/gil/33C9CC_0_0.ttf') format('truetype');
}