.footer_con{
    height: 65vh;
    position: relative;
    background: #111;
    
    line-height: 1.6rem;
    display: flex;
    flex-direction: row;
}

.footer_con .copyright{
    text-align: left;
    flex: 1;
    color: #6b6b6b;
    padding: 20px;
    
}
.footer_con .copyright a{
    color: #6b6b6b;
}

.footer_con a.backtotop{
    flex: 1;
    text-align: right;
    padding: 20px;
    display: block;
    font-weight: 600;
    color: #6b6b6b;
    text-transform: uppercase;
}
