$input-padding: 10px;


#getaquote_con{
    position: relative;
    max-width: 800px;
    margin: auto;
    z-index: 1;
    x-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 20px;
}

.title{
    width: 100%;
    display: block;
}

.title h1{
    font-size: 2.5rem;
    color: #fff;
    padding: 20px;
}

#getaquote {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


#getaquote .field_con{
    flex: auto;
    display: flex;
    flex-direction: column;
}

#getaquote .input_con{
    flex: auto;
    display: flex;
    flex-direction: column;
    padding-left: $input-padding;
    padding-right: $input-padding;
}

#getaquote .upload_con{
    position: relative;
    flex: auto;
    display: flex;
    flex-direction: row;
    padding-left: $input-padding;
    padding-right: $input-padding;
    cursor: pointer;
}

#getaquote .upload_icon{
    flex: .6;
    font-size: 1.3rem;
    color: #ccc;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
    padding-left:20px;
	position: static;
}

#getaquote .folder_icon{
    height: 30px;
}

#getaquote .upload_icon .icon_label{
    flex: 1;
    color: #ccc;
    padding-left: 10px;
}

#getaquote .upload_input{
    text-align: left;
    font-size: 1.3rem;
    background: #0a166a;
    color: #ccc;
    padding: $input-padding;
    width: 50%;
    cursor: pointer;
}
#getaquote .upload_input.hidden {
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: red;
	opacity: 0;
    padding: 0;
    width: 100%;
    height: 100%;
	z-index: 100;
	cursor: pointer;
}


#getaquote .input{
    text-align: left;
    font-size: 1.3rem;
    background: #0a166a;
    color: #ccc;
    padding: $input-padding;
}

#getaquote input:focus, #getaquote textarea:focus{
    background: #16279f;
    color: #fff;
}

#getaquote .textarea_con{
    flex:auto;
    display: flex;
    flex-direction: column;
    padding-left: $input-padding;
    padding-right: $input-padding;
}

#getaquote .full_con{
    flex:auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#getaquote textarea{
    text-align: left;
    padding: 16px;
    font-size: 1.3rem;
    line-height: 1.7rem;
    background: #0a166a;
    color: #ccc;
}

#getaquote .required{
    text-align: right;
    flex: 1;
    padding-top: 25px;
    padding-right: $input_padding;
    font-size: .9rem;
    line-height: 1.5rem;
    color: #f00;
    display: inline-block;
}

#getaquote .label_con{
    display: flex;
}

#getaquote .label{
    flex: 1;
    text-align: left;
    font-size: 1.2rem;
    padding-top: 25px;
    padding-bottom: 8px;
    padding-left: $input-padding;
    font-weight: 400;
    display: inline-block;
}

#getaquote .button_con{
    padding: 0px 0 0 0;
}

#getaquote button{
    padding: 15px 22px 12px 22px;
    text-align: left;
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 15px;
    background: #397cd6;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    outline: none;
    margin-left: $input-padding;
}

#getaquote button:hover{
    background: #c1911e;
    color: #fff;
    transition: all 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
.error {
	border: 2px solid #f00;
}

.getaquote_background{
    background: #050e2b;
}

#contact_results{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    display: none;
    opacity: 0;
    align-items: center;
    align-content: center;
}

#contact_results .success{
    color: #fff;
    margin: auto;
    font-size: 2.8rem;
    line-height: 4rem;
    width: 70%;
    font-weight: 300;
}


