
.header_con{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    max-width: 1900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
    background: #050b36;
    margin: auto;
}

.logo_con{
    flex:1.5;
    text-align: left;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    cursor: pointer;
    min-height: 50px; 
    min-width: 250px;
    padding: 10px;
    max-width: 300px;
}

.logo{
    width: 100%;
}


.nav_con{
    flex: 3;
    z-index: 1;
    padding: 10px;
}

.nav{
    display: block;
    margin: auto;
    text-align: right;
}

.nav a{
    display: inline-block;
    margin-right: 2%;
    padding: 6px;
    font-size: .9rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
}

.nav a:hover{
    color: aqua;
}

.nav .paylink{
    background: none;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
}

.nav .paylink .paypal{
    width: 65px;
    height: 15px;
    background: url(../img/paypal.svg) center center no-repeat;
    display: inline-block;
    margin-left: 1px;
}
.nav .paylink .label{
    display: inline-block;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.nav .paylink .label:hover{
    color: aqua;
}

.nav_mobile{
    margin: auto;
    cursor: pointer;
    z-index: 20;
    display: none;
    text-align: right;
    width: 100%;
}
.menu_icon{
    height: 20px;
    margin: auto;
}

#mobile_nav a.close{
    flex:1;
    text-align: right;
    color: aliceblue;
    font-size: 1.2rem;
}

#mobile_nav{
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100vh;
    right: 0px;
    visibility: hidden;
    z-index: 99;
    background: rgba(25,41,87,.97);
}
#mobile_nav .con{
    padding: 30px 0;
}

#mobile_nav a{
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: white;
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: 'Gilroy-ExtraBold-Italic';
}

#mobile_nav .paylink{
    background: none;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
}

#mobile_nav .paylink .paypal{
    width: 85px;
    height: 28px;
    background: url(../img/paypal.svg) center center no-repeat;
    display: inline-block;
    margin-left: 3px;
    color: white;
}
#mobile_nav .paylink .label{
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .1rem;
    font-family: 'Gilroy-ExtraBold-Italic';
    text-transform: uppercase;
    color: white;
}
#mobile_nav .paylink .label:hover, #mobile_nav a:hover{
    color: aqua;
}


