.hero_con{
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 20px;
}

.hero_con .slide1{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto;
    z-index: 5;
}

.hero_image {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    background: url(../img/laser_hero.jpg) center center no-repeat;
}

.hero_con .title_con{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto;
    z-index: 1;
}

.hero_con .title_con .line{
    font-size: 5.8rem;
    color: #fff;
    font-family: 'Gilroy-ExtraBold-Italic';
    max-width: 70%;
    margin: auto;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}

.hero_con .title_con a.cta_hero{
    flex: 1;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    background-color: rgba(0,0,0,.3);
    border-radius: 30px;
    font-style: italic;
    x-visibility: hidden;
}
.hero_con .title_con a.cta:hover{
    background-color: rgba(7,163,197,1);
}

.hero_nav{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    color: #fff;
    margin: auto;
    display: none;
}

.slide_button{
    width: 10px;
    height: 20px;
    margin: auto;
    display: inline-block;
    padding: 10px;
    background: rgba(0,0,0,.4);
}
