

.lightbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: auto;
    opacity: 0;
    display: none;
    cursor: pointer;
    background: #f5f5f5;
    overflow-x: hidden;
}

.lightboxContent{
    position: absolute;
    top:0px;
    height: auto;
    left: 0;
    margin: auto;
    right: 0;
    bottom:0;
    width: 100%;
}

.lightboxClose_con{
    text-align: right;
    height: 80px;
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.lightboxClose{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 4rem;  
    font-weight: 300;
    x-font-family: "Times New Roman";
    x-font-style: italic;
    color: #333;
}


.lightboxContent img{
    width:auto;
    height:auto;
    max-width:90%;
    max-height:90%;
}

.lightboxContent .thumbnail_con{
    margin-top: 20px;
}

.lightboxContent .thumbnail_con .thumbnail_lightbox{
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: auto;
}



.lightboxContent .thumbnail_con .thumbnail_target{
    padding: 15px;
    border: 6px solid #333;
    border-color: #333;
    margin: auto 5px;
}

.lightboxContent .thumbnail_con .thumbnail_first{
    padding: 15px;
    border: 6px solid #333;
    border-color: #1a91ec;
    margin: auto 5px;
}


video{
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
