 

*{
    margin:0;
    padding:0;
    font-size: normal;
    font-family: 'Lato', times;
    font-size: 13px;
	color: #ebebeb;
    border:none;
    vertical-align: top;
    position: relative;
}


body, html{
	text-align: center;
	-webkit-font-smoothing: antialiased;
    overflow-y: auto;
    background: #090e1b;
}




a{
    transition: all 800ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
    border: none;    
    text-decoration: none;
}

a:hover{
    transition: all 200ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}



a{
    color: #fff;
}

.alpha{
    position: relative;
    width: 100%;
    max-width: 1900px;
    margin: auto;
    z-index: 1;
    visibility: hidden;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
    z-index: 0;
    background: #090e1b;
}

.bar_con{
    height: 4px;
    background: #FFC63D;
}
.bar_shadow{
    height: 2px;
    background: #000;
}

