@media only screen and (max-width : 2100px){ 

    .section_con_wide .section_box .con{
        width: 20%;
    }
    .hero_con .title_con .line{
        font-size: 7rem;
        line-height:6.7rem;
    }
    
    
}


@media only screen and (max-width : 1600px){ 

    .section_con_wide .section_box .con{
        width: 30%;
    }
    
}

@media only screen and (max-width : 1200px){ 

    .section_con_wide .section_box .con{
        width: 30%;
    }

    
}

/* responsive */


@media only screen and (max-width : 980px){ 
    
    .nav_mobile{
        display: block;
    }
        
    .nav{
        display: none;
    }
    
    .hero_con .title_con .line{
        font-size:6rem;
        max-width: 70%;
        line-height: 6rem;
        letter-spacing: .2rem;
    }

}


@media only screen and (max-width : 700px){ 
    
    .section_con_wide .header{
        width: 100%;
        font-size: 3rem;
        letter-spacing: .1rem;
        line-height: 2.5rem;
        z-index: 1;
        padding: 20px 0 20px 0;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }
    
    .section_con_wide .con_alpha{
        padding: 25px;
    }
    
    .section_con_wide .section_box .con{
        width: auto;
        align-self: auto;
        padding: 20px;
    }
    
    .hero_con .title_con .line{
        font-size: 4rem;
        max-width: 80%;
        margin: auto;
        line-height: 5rem;
        letter-spacing: .1rem;
    }
    
    .promo_con{
        flex-direction: column;
        x-min-width: 100%;
    }
    .section_con .section_box{
        max-width: 90%;
    }

    
    .section_con .section_box .con{
        text-align: left;
        margin: auto auto auto auto;
        padding: 30px;
    }

    
}