
.promo_con{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.promo{
    background: #888;
    flex: 1;
    padding: 50px 0;
}

.promo .title{
    flex: auto;
    z-index: 1;
    x-padding: 15px;
}

.promo .header{
    font-size: 1.3rem;
    font-family:'Gilroy-ExtraBold';
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    margin: auto auto 5px auto;
    padding: 0 15px;
    line-height: 1.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.promo .description{
    font-size: 1rem;
    color: #ccc;
    margin: auto auto 10px auto;
    font-weight: 400;
    line-height: 1.4rem;
    max-width: 80%;
}

.promo a.cta{
    margin: auto;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    color: aqua;
    display: block;
    margin: auto;
}

.promo a.cta:hover{
    background-color: rgba(7,163,197,1);
    color: #fff;
}

.first{
    background: #0f2945 url(../img/steelshot.jpg) center center no-repeat;
    background-size: cover;
}

.second{
    background: #0f2945 url(../img/steelshot_2.jpg) center center no-repeat;
    background-size: cover;
}

.third{
    background: #0f2945 url(../img/steelshot_3.jpg) center right no-repeat;
    background-size: cover;
}

.fourth{
    background: #0f2945 url(../img/steelshot_4.jpg) center center no-repeat;
    background-size: cover;
}
