.section_con_wide{
    position: relative;
    width: 100%;
    height: auto;
    background: #000;
    margin: auto;
    background: #00083e;
    background-size: cover;
    text-align: left;
}

.section_con_wide .bar_con{
    height: 4px;
    margin-bottom: 8px;
}

.section_con_wide .con_alpha{
    padding: 90px;
}

#projects{
    background: url(../img/background_projects.jpg) center center repeat;
}

#projects .con_alpha{
}

.section_con_wide .header{
    width: 100%;
    font-size: 4rem;
    line-height: 3.7rem;
    font-family: 'Gilroy-ExtraBold-Italic';
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
    padding: 0px 0 50px 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.section_con_wide h3{
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #f9d076;
    letter-spacing: .2rem;
    margin: 10px auto 10px auto;
    z-index: 1;
}

.section_con_wide .section_box{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: rgba(0,10,77,.4);
}

.section_con_wide .section_box .con{
    flex: 1 auto;
    width: 10%;
    padding: 30px;
    align-self: stretch;
    
}

.section_con_wide p{
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin: auto auto 10px auto;
}

.section_con_wide .section_box .con .description strong{
    font-weight: 600;
    font-size: 1.1rem;
    color: #e3d96a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section_con_wide .section_box .con .description li{
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin: auto auto 10px auto;
}

.section_con_wide .section_box .con .background{
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
}

.section_con_wide .section_box .con .image_con{
    display: block;
    width: 100%;
    cursor: pointer;
    height: 350px;
}

.section_con_wide .section_box .con .one{
    background: url(../img/projects.jpg) center center no-repeat;
    background-size: cover;
}
.section_con_wide .section_box .con .two{
    background: url(../img/projects2.jpg) center center no-repeat;
    background-size: cover;
}
.section_con_wide .section_box .con .three{
    background: url(../img/projects3.jpg) center center no-repeat;
    background-size: cover;
}
.section_con_wide .section_box .con .four{
    background: url(../img/projects4.jpg) center center no-repeat;
    background-size: cover;
}


.section_con_wide .section_box .con .caption{
    display: block;
    width: 100%;
    color: aliceblue;
    margin-top: 10px;
}

.section_con_wide .section_box .con a{
   text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.shadow_con{
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.shadow{
    position: absolute;
    top: -20px;
    width: 100%;
    height: 50px;
    opacity: .5
}

.gallery_label{
    color: aqua;
}



