
.section_con{
    position: relative;
    flex: auto;
    display: flex;
    align-content: center;
    align-items: center;
    background: #000;
    margin: auto;

}

.section_con .section_box{
    flex: auto;
    flex-direction: column;
    margin: 60px auto;
    max-width: 50%;
}

.section_con .section_box .con{
    text-align: left;
    margin: auto auto auto auto;
    padding: 50px;
}

.section_con .section_box .left{
    margin: auto auto auto auto;
}

.section_con .section_box .con .header{
    font-size: 2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin: auto auto 10px auto;
    z-index: 1;
}

.section_con .section_box .con .description{
    z-index: 1;
}

.section_con .section_box .con .description p{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    margin: auto auto 15px auto;
}

.section_con .section_box .con .background{
    width: 100%;
    height: 100%;
    background: #141d43;
    z-index: 0;
    opacity: 1;
    border-top: solid 10px #FFC63D;
}

.section_con .section_box .con a{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin:5px auto; 
}

.strong{
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: .15rem;
}

#about{
    background: url(../img/background.jpg) center center no-repeat;
    background-size: cover;
}

#brandnerdesign{
    background: url(../img/background_brandner.jpg) center center no-repeat;
    background-size: cover;
}

#contactus{
    background: url(../img/background_contact.jpg) center center no-repeat;
    background-size: cover;
}


